
body {
	background-color: white;
}

em {
	color: #42a5f5 ;
  }

  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

p {
	line-height: 1px;
}

.light {
	color: #242424;
}

label {
	display: inline-block;
	width: 135px;
	text-align: left;
  }

  input {
	  color: #333;
  }



